# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=blog
DB_USER=blog
DB_PASS=blog
DB_ROOT_PASS=root

# Application
APP_ENV=development
APP_URL=http://localhost:3000

# Smarty
SMARTY_DEBUG=false

# Pagination
ARTICLES_PER_PAGE=6
